.rtl [class*="col-xs-"] {
	float:right;
}

@media(min-width:768px) {
	.rtl [class*="col-sm-"] {
	float:right;
}

}@media(min-width:992px) {
	.rtl [class*="col-md-"] {
	float:right;
}

}@media(min-width:1200px) {
	.rtl [class*="col-lg-"] {
	float:right;
}

}@media(min-width:768px) {
	.rtl [class*="col-sm-push-"] {
	left:auto;
}

.rtl [class*="col-sm-pull-"] {
	right:auto;
}

.rtl [class*="col-sm-offset-"] {
	margin-left:auto;
}

.rtl .col-sm-push-1 {
	right:8.33333%;
}

.rtl .col-sm-push-2 {
	right:16.6666%;
}

.rtl .col-sm-push-3 {
	right:25%;
}

.rtl .col-sm-push-4 {
	right:33.3333%;
}

.rtl .col-sm-push-5 {
	right:41.6666%;
}

.rtl .col-sm-push-6 {
	right:50%;
}

.rtl .col-sm-push-7 {
	right:58.3333%;
}

.rtl .col-sm-push-8 {
	right:66.6666%;
}

.rtl .col-sm-push-9 {
	right:75%;
}

.rtl .col-sm-push-10 {
	right:83.3333%;
}

.rtl .col-sm-push-11 {
	right:91.6666%;
}

.rtl .col-sm-pull-1 {
	left:8.33333%;
}

.rtl .col-sm-pull-2 {
	left:16.6666%;
}

.rtl .col-sm-pull-3 {
	left:25%;
}

.rtl .col-sm-pull-4 {
	left:33.3333%;
}

.rtl .col-sm-pull-5 {
	left:41.6666%;
}

.rtl .col-sm-pull-6 {
	left:50%;
}

.rtl .col-sm-pull-7 {
	left:58.3333%;
}

.rtl .col-sm-pull-8 {
	left:66.6666%;
}

.rtl .col-sm-pull-9 {
	left:75%;
}

.rtl .col-sm-pull-10 {
	left:83.3333%;
}

.rtl .col-sm-pull-11 {
	left:91.6666%;
}

.rtl .col-sm-offset-1 {
	margin-right:8.33333%;
}

.rtl .col-sm-offset-2 {
	margin-right:16.6666%;
}

.rtl .col-sm-offset-3 {
	margin-right:25%;
}

.rtl .col-sm-offset-4 {
	margin-right:33.3333%;
}

.rtl .col-sm-offset-5 {
	margin-right:41.6666%;
}

.rtl .col-sm-offset-6 {
	margin-right:50%;
}

.rtl .col-sm-offset-7 {
	margin-right:58.3333%;
}

.rtl .col-sm-offset-8 {
	margin-right:66.6666%;
}

.rtl .col-sm-offset-9 {
	margin-right:75%;
}

.rtl .col-sm-offset-10 {
	margin-right:83.3333%;
}

.rtl .col-sm-offset-11 {
	margin-right:91.6666%;
}

}@media(min-width:992px) {
	.rtl [class*="col-md-push-"] {
	left:auto;
}

.rtl [class*="col-md-pull-"] {
	right:auto;
}

.rtl [class*="col-md-offset-"] {
	margin-left:auto;
}

.rtl .col-md-push-1 {
	right:8.33333%;
}

.rtl .col-md-push-2 {
	right:16.6666%;
}

.rtl .col-md-push-3 {
	right:25%;
}

.rtl .col-md-push-4 {
	right:33.3333%;
}

.rtl .col-md-push-5 {
	right:41.6666%;
}

.rtl .col-md-push-6 {
	right:50%;
}

.rtl .col-md-push-7 {
	right:58.3333%;
}

.rtl .col-md-push-8 {
	right:66.6666%;
}

.rtl .col-md-push-9 {
	right:75%;
}

.rtl .col-md-push-10 {
	right:83.3333%;
}

.rtl .col-md-push-11 {
	right:91.6666%;
}

.rtl .col-md-pull-1 {
	left:8.33333%;
}

.rtl .col-md-pull-2 {
	left:16.6666%;
}

.rtl .col-md-pull-3 {
	left:25%;
}

.rtl .col-md-pull-4 {
	left:33.3333%;
}

.rtl .col-md-pull-5 {
	left:41.6666%;
}

.rtl .col-md-pull-6 {
	left:50%;
}

.rtl .col-md-pull-7 {
	left:58.3333%;
}

.rtl .col-md-pull-8 {
	left:66.6666%;
}

.rtl .col-md-pull-9 {
	left:75%;
}

.rtl .col-md-pull-10 {
	left:83.3333%;
}

.rtl .col-md-pull-11 {
	left:91.6666%;
}

.rtl .col-md-offset-1 {
	margin-right:8.33333%;
}

.rtl .col-md-offset-2 {
	margin-right:16.6666%;
}

.rtl .col-md-offset-3 {
	margin-right:25%;
}

.rtl .col-md-offset-4 {
	margin-right:33.3333%;
}

.rtl .col-md-offset-5 {
	margin-right:41.6666%;
}

.rtl .col-md-offset-6 {
	margin-right:50%;
}

.rtl .col-md-offset-7 {
	margin-right:58.3333%;
}

.rtl .col-md-offset-8 {
	margin-right:66.6666%;
}

.rtl .col-md-offset-9 {
	margin-right:75%;
}

.rtl .col-md-offset-10 {
	margin-right:83.3333%;
}

.rtl .col-md-offset-11 {
	margin-right:91.6666%;
}

}@media(min-width:1200px) {
	.rtl [class*="col-lg-push-"] {
	left:auto;
}

.rtl [class*="col-lg-pull-"] {
	right:auto;
}

.rtl [class*="col-lg-offset-"] {
	margin-left:auto;
}

.rtl .col-lg-push-1 {
	right:8.33333%;
}

.rtl .col-lg-push-2 {
	right:16.6666%;
}

.rtl .col-lg-push-3 {
	right:25%;
}

.rtl .col-lg-push-4 {
	right:33.3333%;
}

.rtl .col-lg-push-5 {
	right:41.6666%;
}

.rtl .col-lg-push-6 {
	right:50%;
}

.rtl .col-lg-push-7 {
	right:58.3333%;
}

.rtl .col-lg-push-8 {
	right:66.6666%;
}

.rtl .col-lg-push-9 {
	right:75%;
}

.rtl .col-lg-push-10 {
	right:83.3333%;
}

.rtl .col-lg-push-11 {
	right:91.6666%;
}

.rtl .col-lg-pull-1 {
	left:8.33333%;
}

.rtl .col-lg-pull-2 {
	left:16.6666%;
}

.rtl .col-lg-pull-3 {
	left:25%;
}

.rtl .col-lg-pull-4 {
	left:33.3333%;
}

.rtl .col-lg-pull-5 {
	left:41.6666%;
}

.rtl .col-lg-pull-6 {
	left:50%;
}

.rtl .col-lg-pull-7 {
	left:58.3333%;
}

.rtl .col-lg-pull-8 {
	left:66.6666%;
}

.rtl .col-lg-pull-9 {
	left:75%;
}

.rtl .col-lg-pull-10 {
	left:83.3333%;
}

.rtl .col-lg-pull-11 {
	left:91.6666%;
}

.rtl .col-lg-offset-1 {
	margin-right:8.33333%;
}

.rtl .col-lg-offset-2 {
	margin-right:16.6666%;
}

.rtl .col-lg-offset-3 {
	margin-right:25%;
}

.rtl .col-lg-offset-4 {
	margin-right:33.3333%;
}

.rtl .col-lg-offset-5 {
	margin-right:41.6666%;
}

.rtl .col-lg-offset-6 {
	margin-right:50%;
}

.rtl .col-lg-offset-7 {
	margin-right:58.3333%;
}

.rtl .col-lg-offset-8 {
	margin-right:66.6666%;
}

.rtl .col-lg-offset-9 {
	margin-right:75%;
}

.rtl .col-lg-offset-10 {
	margin-right:83.3333%;
}

.rtl .col-lg-offset-11 {
	margin-right:91.6666%;
}

}.rtl ul, .rtl ol {
	margin-left:0;
	margin-right:25px;
}

.rtl ul.list-unstyled, .rtl ol.list-unstyled, .rtl ul.list-inline, .rtl ol.list-inline {
	margin-right:0;
}

.rtl li>ul, .rtl li>ol {
	margin-left:0;
	margin-right:18px;
}

.rtl dd {
	margin-left:0;
	margin-right:10px;
}

.rtl .dl-horizontal dt {
	float:right;
	clear:right;
	text-align:left;
}

.rtl .dl-horizontal dd {
	margin-left:0;
	margin-right:180px;
}

.rtl blockquote p, .rtl blockquote small {
	text-align:left;
}

.rtl blockquote small:before {
	content:"";
}

.rtl blockquote small:after {
	content:"
